<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/page::commonHeader"></head>

<body class="body-container">
<nav th:replace="common/page::commonNavbar"/>

<div class="main-container bgc-white">

  <!--侧边栏-->
  <div th:replace="common/page::commonSidebar"></div>

  <div role="main" class="main-content">

    <div class="page-content container container-plus">
      <div class="row mt-4">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="card-toolbar mr-auto no-border">

              </div>

              <div class="card-toolbar pl-3">
                <!-- buttons used to control/navigate the wizard -->
                <button id="wizard-1-prev" type="button" class="mx-2px btn btn-outline-default btn-h-outline-primary btn-bgc-white btn-a-primary border-2 radius-1" disabled>
                  <i class="fa fa-chevron-left"></i>
                </button>

                <button id="wizard-1-next" type="button" class="mx-2px btn btn-outline-default btn-h-outline-primary btn-bgc-white btn-a-primary border-2 radius-1">
                  <i class="fa fa-chevron-right"></i>
                </button>

                <button id="wizard-1-finish" type="button" class="d-none mx-2px px-3 btn btn-outline-success btn-h-outline-success btn-bgc-white border-2 radius-1">
                  <i class="fa fa-arrow-right"></i>
                </button>
              </div>
            </div>


            <div class="card-body">

              <div id="smartwizard-1" class="d-none mx-n3 mx-sm-auto">
                <ul class="mx-auto">

                  <li>
                    <a href="#step-1">
                            <span class="step-title">
                                1
                            </span>

                      <span class="step-title-done">
                                <i class="fa fa-check text-success"></i>
                            </span>
                    </a>

                    <span class="step-description">
                            配置参数
                        </span>
                  </li>

                  <li>
                    <a href="#step-2">
                            <span class="step-title">
                                2
                            </span>

                      <span class="step-title-done">
                                <i class="fa fa-check text-success"></i>
                            </span>
                    </a>

                    <span class="step-description">
                            设置定时器
                        </span>
                  </li>

                  <li>
                    <a href="#step-3">
                            <span class="step-title">
                                3
                            </span>

                      <span class="step-title-done">
                                <i class="fa fa-check text-success"></i>
                            </span>
                    </a>

                    <span class="step-description">
                            设置过期时间
                        </span>
                  </li>

                </ul>

                <div class="px-2 py-2 mb-4">

                  <!-- step1-->
                  <div id="step-1">
                    <form novalidate id="parameter">

                    </form>
                  </div>
                  <!-- step1-->
                  <div id="step-2" class="text-center" style="text-align: center">

                    <div class="row">

                      <div class="col-sm-9 input-floating-label text-blue-d2 brc-blue-m1"  style="margin-left: 50%;transform: translateX(-26%)">
                        <input type="text" placeholder="定时器" id="cron" class="form-control form-control-lg col-sm-8 col-md-6 shadow-none" >
                        <span class="floating-label text-grey-m3">
                        定时器
                      </span>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12 col-xl-10 offset-xl-1">

                        <div role="alert" class="alert alert-lg bgc-success-l3 border-0 border-l-4 brc-success mt-4 mb-3 pr-3 py-3 d-flex">
                          <div class="flex-grow-1">
                            <strong class="text-success-d1">*/5 * * * * ?</strong> &nbsp;
                            <span class="text-105 text-dark-tp2">每隔5秒执行一次</span>
                          </div>
                        </div>

                        <div role="alert" class="alert alert-lg bgc-success-l3 border-0 border-l-4 brc-success mt-4 mb-3 pr-3 py-3 d-flex">
                          <div class="flex-grow-1">
                            <strong class="text-success-d1">0 */1 * * * ?</strong> &nbsp;
                            <span class="text-105 text-dark-tp2">每隔1分钟执行一次</span>
                          </div>
                        </div>

                        <div role="alert" class="alert alert-lg bgc-success-l3 border-0 border-l-4 brc-success mt-4 mb-3 pr-3 py-3 d-flex">
                          <div class="flex-grow-1">
                            <strong class="text-success-d1">0 0 */1 * * ?</strong> &nbsp;
                            <span class="text-105 text-dark-tp2">每小时执行一次</span>
                          </div>
                        </div>

                        <div role="alert" class="alert alert-lg bgc-success-l3 border-0 border-l-4 brc-success mt-4 mb-3 pr-3 py-3 d-flex">
                          <div class="flex-grow-1">
                            <strong class="text-success-d1">0 0 12 * * ?</strong> &nbsp;
                            <span class="text-105 text-dark-tp2">每天中午12点执行一次</span>
                          </div>
                        </div>

                      </div>
                  </div>
                </div>

                  <div id="step-3">
                    <div class="form-field">
                      <div class="col-sm-9 input-floating-label text-blue-d2 brc-blue-m1"  style="margin-left: 50%;transform: translateX(-26%)">

                        <input placeholder="modal mode..." type="text" class="form-control form-control-lg col-sm-8 col-md-6 shadow-none" id="timeout"/>

                      </div>
                    </div>
                  </div>

              </div><!-- /#smartwizard-1 -->

            </div><!-- /.card-body -->
          </div><!-- .card -->

        </div>
      </div>
    </div>





    <!-- footer toolbox for mobile view -->

  </div>



</div>

<div th:replace="common/page::commonIncludeScripts"/>

<script src="./node_modules/smartwizard/dist/js/jquery.smartWizard.js"></script>

<script src="./node_modules/jquery-validation/dist/jquery.validate.js"></script>

<script src="./node_modules/inputmask/dist/jquery.inputmask.js"></script>

<script src="./node_modules/tiny-date-picker/dist/date-range-picker.js"></script>
<script src="./node_modules/moment/moment.js"></script>
<script src="./node_modules/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>


  <script src="./node_modules/jquery-knob/dist/jquery.knob.min.js"></script>

<!--日期格式化-->
<script src="./js/date-format.js"></script>

<!--页面功能-->
<script src="./page/editTask.js"></script>



</body>


</html>


