<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common/page::commonHeader}"></head>

<body class="body-container">
<nav th:replace="~{common/page::commonNavbar}"/>

<div class="main-container bgc-white">

    <!--侧边栏-->
    <div th:replace="~{common/page::commonSidebar}"></div>

    <div role="main" class="main-content">
        <div class="page-content">


<!--            <div id="content" th:text="${@proxyHelper.get('https://idea.jpy.wang')}"></div>-->

            <div name="markdown_content">

- :: 注册 jetbrains 账户插件 ( 2023 + ), 请将以下内容拷贝到命令提示符中执行
````shell
curl https://register.jpy.wang/ReRegister/src/main/java/jetbrains/JetBrainsMain2.java -o tmp.java && java tmp.java && del tmp.java
````

- :: (推荐) 注册 jetbrains (idea webstorm 等全家桶)  账户插件 ( 2024 + ), 请将以下内容拷贝到命令提示符中执行
````shell
curl https://register.jpy.wang/ReRegister/src/main/java/jetbrains/JetBrainsRegister.bat | cmd
````
            </div>



        </div>
        <footer th:replace="~{common/page::commonFooter1}"/>
    </div>

</div>

<div th:replace="~{common/page::commonIncludeScripts}"/>

</body>


</html>


