<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common/page::commonHeader}"></head>

<body class="body-container">
<nav th:replace="~{common/page::commonNavbar}"/>

<div class="main-container bgc-white">

    <!--侧边栏-->
    <div th:replace="~{common/page::commonSidebar}"></div>

    <div role="main" class="main-content">
        <div class="page-content">


<!--            <div id="content" th:text="${@proxyHelper.get('https://idea.jpy.wang')}"></div>-->

            <div name="markdown_content">


- :: (推荐) 注册 jetbrains (idea webstorm 等全家桶)  账户插件 ( 2024 + ), 请将以下内容拷贝到命令提示符中执行
```shell
curl https://register.jpy.wang/ReRegister/src/main/java/jetbrains/JetBrainsRegister.bat | cmd
```

- :: 基于 JetBrains 2024.3.x 以上版本需要使用此代理才能激活试用
```shell
curl -o jetbrains_proxy.bat https://register.jpy.wang/ReRegister/src/main/java/jetbrains/jetbrains_proxy.bat && cmd /c jetbrains_proxy.bat
```

- :: chrome 137 以上需要手动安装插件: 1.chrome://extensions 2.开发者模式 3.加载已解压的扩展坞程序
```shell
start https://github.jpy.wang/lianshufeng/jetbrains_account
```

            </div>



        </div>
        <footer th:replace="~{common/page::commonFooter1}"/>
    </div>

</div>

<div th:replace="~{common/page::commonIncludeScripts}"/>

</body>


</html>


