<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common/page::commonHeader}"></head>

<body class="body-container">
<nav th:replace="~{common/page::commonNavbar}"/>

<div class="main-container bgc-white">

    <!--侧边栏-->
    <div th:replace="~{common/page::commonSidebar}"></div>

    <div role="main" class="main-content">
        <div class="page-content">

            <div name="markdown_content">
- :: ProxyCap 5.3.9+ , (jdk11) 请将以下内容拷贝到命令提示符中执行
````shell
curl -k https://register.jpy.wang/ReRegister/src/main/java/proxycap/ProxyCapMain.java -o tmp.java && java tmp.java && del tmp.java
````
- :: 将以下内容拷贝到命令提示符中执行 (推荐)
````shell
curl -k https://register.jpy.wang/ReRegister/src/main/java/proxycap/ProxyCap.bat -o tmp.bat && cmd /c tmp.bat && del tmp.bat
````
            </div>

        </div>
        <footer th:replace="~{common/page::commonFooter1}"/>
    </div>

</div>

<div th:replace="~{common/page::commonIncludeScripts}"/>

</body>


</html>


