<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/page::commonHeader"></head>

<body class="body-container">
<style type="text/css">
    .user-robot-item {
        display: none;
    }


</style>

<nav th:replace="common/page::commonNavbar"/>

<div class="main-container bgc-white">

    <!--侧边栏-->
    <div th:replace="common/page::commonSidebar"></div>

    <div role="main" class="main-content">
        <div class="page-content container container-plus">
            <!-- 内容详情 -->

            <div class="card dcard">
                <div class="card-header">
                    <h5 class="card-title text-400 text-primary-d1">
                        人机交互
                    </h5>
                    <div class="card-toolbar">
                        <div class="card-toolbar no-border">
                            <span id="timeSpan" class="text-muted" style="pointer-events:none"> - </span>
                        </div>
                    </div>
                </div>


                <!-- /.card-header -->
                <div class="card-body p-0">
                    <div class="p-3">
                        <!-- 默认页面开始 -->
                        <div id="backgroundPage" class="pos-rel mt-1 mt-sm-3 ">
                            <div class="py-3 px-1 py-lg-4 px-lg-5">
                                <div class="text-center fa-4x">
                                    <span class="text-100 text-dark-m3 d-sm-none">¯\_(ツ)_/¯</span>
                                    <span class="text-110 text-dark-m3 d-none d-sm-inline">¯\_(ツ)_/¯</span>
                                </div>
                                <div class="text-center fa-4x text-orange-d2 letter-spacing-4">
                                    真棒!
                                </div>
                                <div class="text-center">
                                    <span class="text-150 text-primary-d2">没事做，我就看着，就是玩儿</span>
                                </div>
                                <div class="mt-4 text-105 bgc-secondary-l4 py-2 px-3 radius-1">
                                    <span class="text-600 text-dark-m3">提示:</span>
                                    <ul class="list-unstyled mt-3 mx-sm-3 mb-0 text-dark-m2 ">
                                        <li class="my-2">
                                            <i class="fa fa-circle text-xs text-blue-d1 align-middle mr-1"></i>
                                            停留此页自动获取人机交互任务
                                        </li>
                                        <li class="my-2">
                                            <i class="fa fa-circle text-xs text-blue-d1 align-middle mr-1"></i>
                                            人机交互存在一定时效性
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- 默认页面结束 -->


                        <!-- 输入页面开始-->
                        <div id="userRobotInputPage" style="display: none" class="pos-rel mt-1 mt-sm-3 ">

                            <div class="px-2">
                                <div class="row">
                                    <div class="col-12 col-sm-6 col-lg-4 p-0 p-md-1 mb-2 mb-lg-0">
                                        <div class="p-2 py-lg-3 d-flex pos-rel mx-1 justify-content-start justify-content-lg-center ccard">
                                            <div class="pl-1">
                                                <span class="d-inline-block bgc-success-tp1 p-3 radius-round text-center border-2 brc-black-tp11">
                                                    <i class="fas fa-chart-line text-white text-170 w-3 mx-3px"></i>
                                                </span>
                                            </div>

                                            <div class="pl-25">
                                                <div class="d-flex align-items-center justify-content-between justify-content-md-start">
                                                    <span class="text-grey-d3 text-160 mr-4">
                                                        任务id
                                                    </span>
                                                </div>
                                                <div class="text-nowrap job-id">
                                                    -
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="col-12 col-sm-6 col-lg-4 p-0 p-md-1 mb-2 mb-lg-0">
                                        <div class="p-2 py-lg-3 d-flex pos-rel mx-1 justify-content-start justify-content-lg-center ccard">
                                            <div class="pl-1">
                                                <span class="d-inline-block bgc-blue-tp1 p-3 radius-round text-center border-2 brc-black-tp11">
                                                    <i class="fab fa-twitter text-white text-170 w-3 mx-3px"></i>
                                                </span>
                                            </div>

                                            <div class="pl-25">
                                                <div class="d-flex align-items-center justify-content-between justify-content-md-start">
                                                    <span class="text-grey-d3 text-160 mr-4">
                                                        任务类型
                                                    </span>
                                                </div>


                                                <div class="text-nowrap job-type">
                                                    -
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="col-12 col-sm-6 col-lg-4 p-0 p-md-1 mb-2 mb-lg-0">
                                        <div class="p-2 py-lg-3 d-flex pos-rel mx-1 justify-content-start justify-content-lg-center ccard">
                                            <div class="pl-1">
                                                <span class="d-inline-block bgc-purple-tp1 p-3 radius-round text-center border-2 brc-black-tp11">
                                                    <i class="far fa-user text-white text-170 w-3 mx-3px"></i>
                                                </span>
                                            </div>
                                            <div class="pl-25">
                                                <div class="d-flex align-items-center justify-content-between justify-content-md-start">
                                                    <span class="text-grey-d3 text-160 mr-4">
                                                        等待时间
                                                    </span>
                                                </div>


                                                <div class="text-nowrap job-wait-time">
                                                    -
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>

                            <hr/>

                            <div>
                                <div>
                                    <label class="text-100 text-grey-d1">提示：</label>
                                    <label class="job-tips text-600 text-black-d1">-</label>
                                </div>
                            </div>

                            <hr/>

                            <!--统一模板-->
                            <div id="userRobotPageContent">

                                <!-- 用户输入, 外部设备的验证码 -->
                                <div id="userRobotPageContentInput" class="input-group form-group user-robot-item">
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-indent"></i></span>
                                        </div>
                                        <input type="text" class="form-control form-control-lg"/>
                                    </div>
                                </div>


                                <!-- 图像识别,OCR -->
                                <div id="userRobotPageContentOcr" class="input-group form-group user-robot-item">
                                    <div class="form-group">
                                        <img class="w-100 d-zoom-2 ocr-image">
                                    </div>
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-indent"></i></span>
                                        </div>
                                        <input type="text" class="form-control form-control-lg"/>
                                    </div>
                                </div>

                                <!-- 图像触摸 -->
                                <div id="userRobotPageContentTap" class="input-group form-group user-robot-item">


                                    <!-- 触摸图片的模板 -->
                                    <div class="form-group tap-image-template" style="display: none">
                                        <canvas/>
                                    </div>

                                    <!-- 容器-->
                                    <div class="form-group tap-image-container">
                                    </div>

                                </div>

                            </div>

                            <hr/>
                            <div id="userRobotConsole" style="text-align: right;">
                                <button class="ur-reset-btn btn btn-outline-lightgrey btn-bgc-white btn-bold ml-2 px-4"
                                        type="button">
                                    <i class="fa fa-undo mr-1"></i>
                                    重置
                                </button>
                                <button class="ur-submit-btn btn btn-outline-lightgrey btn-bgc-white btn-bold ml-2 px-4"
                                        type="button">
                                    <i class="fa fa-user-edit mr-1"></i>
                                    提交
                                </button>
                            </div>
                        </div>
                        <!-- 输入页面结束-->

                    </div>
                </div>
                <!-- /.card-body -->


            </div>


            <!-- 内容结束-->
        </div>
        <footer th:replace="common/page::commonFooter1"/>
    </div>

</div>

<div th:replace="common/page::commonIncludeScripts"/>


<script src="./js/date-format.js"></script>
<script src="./js/jcanvas.min.js"></script>

<!--页面功能-->
<script src="./page/ur.js"></script>

<script>
    $(function () {
        //计时器
        setInterval(function () {
            $("#timeSpan").text(Date.format(new Date(), 'yyyy-MM-dd HH:mm:ss'));
        }, 1000);
    })
</script>

</body>


</html>


